.pagination {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center ;
}

.pagination li{
  margin: 5px;
}
.pagination li a{
  border : 1px solid black;
  cursor: pointer;
  margin: auto;
  padding: 5px;
}

.pagination .active a{
  background-color: mediumseagreen;
  color: white;
}